<!DOCTYPE html>
<html lang="en">
<head>
  {{headlinks}}
</head>
<body>
{{>navbar}}
<!-- main header -->
<div class="container-fluid main_header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p> Welcome to Weather App</p>
              <h1>Get the Latest <span class="text_clr">Weather</span> Info of  your City</h1>
              <a href="/weather"><button>check Now</button></a>
            </div>
            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_right">
              
              <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
              <lottie-player id="lottie" src="https://assets6.lottiefiles.com/packages/lf20_bt5wpygx/loading_data.json"  background="transparent"  speed="1"  style="width: 450px; height: 450px; margin:auto"  loop  autoplay></lottie-player>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- footer Code -->
{{>footer}}

</body>
</html>